@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100%;
}


/*-----------Confifurações do ASIDE-----------*/

.imgPequena {
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(37, 37, 37, 0.2);
    box-shadow: 1px 0px 1px 0px rgba(37, 37, 37, 0.2);
}

.aside {
    background-color: #0f8f04;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 240px;
    font-weight: 300;
}

.fotoPerfil{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeUsur{
    font-weight: 600;
}

.marginLeft{
    margin-left: 15px;
}

.central {
    display: flex;
    align-items: center;
}

.letraFina{
    font-weight: 200;
    margin: 25px 0px 15px 16px;
}

.menuAside li{
    list-style-type: none;
    padding: 8px;
}
.menuAside li:hover{
    background-color: rgba(255, 255, 255, 0.307);
}
.menuAside a{
    text-decoration: none;
    color: white;
}

.menuAside ul li.active {
    background-color: rgba(255, 255, 255, 0.307);
}

.icone {
    height: 18px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

/*-----------FIM DA CONFIGURAÇÃO DO ASIDE-----------*/

.containerDivisao {
    display: flex;
    flex-direction: row;
}

.segundaTela{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.txtAtencao{
    color: red;
    margin-bottom: 30px;
}

.botao {
    width: 245px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #37A433;
    color: white;
    font-size: 16px;
    margin: 40px 0px 40px 0px;
    cursor: pointer;
}

.botao:hover {
    background-color: #37a433ac;
}

.drop_zone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 600px;
    border-radius: 8px;
    border: 2px dashed #bcbaba;
    line-height: 50px;
    text-align: center;
    font-size: 20px; 
    color: #666;
}

.fileInput {
    /* display: none; */
}

.botaoFile{
    background-color: #0f8f04;
}