* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
}

.juntComp{
    display: flex;
    align-items: center;
}

.horizont{
    transform: rotate(90deg);
    margin-left: 10px;
    cursor: pointer;
    height: 25px;
}

.imgCarteira{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 550px;
    border-radius: 8px;
    border: 2px dashed #bcbaba;
    overflow: hidden;
}

.fotoCarteira {
    /* background-size: cover;
    height: 250px; */
    background-size: cover;
    height: 100%;
    width: 100%;
}


/*--------Carteira EDITAR-----------*/

.botaoCancelar{
    width: 245px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin: 40px 0px 40px 0px;
    cursor: pointer;
    border: 1px solid #37A433;
    background-color: white;
    color: #37A433;
}

.botaoInferior{
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.botaoInferior a {
    text-decoration: none;
}